@(siteTitle: String, harvestGuessForm: Form[forms.data.HarvestGuessFromForm])(implicit messages: Messages)
@import b3.vertical.fieldConstructor

@import tags.harvestGuess.grainRow

@harvestYear = @{
  "2016"
}
@inspectionBodies = @{
  Seq("SGS" -> "SGS Austria Controll-Co GesmbH", "ABG" -> "ABG Austria Bio Garantie", "BIOS" -> "BIOS Biokontrollservice Österreich", "Lacon" -> "Lacon GmbH")
}
@taxRates = @{
  List("10%", "12%").map(str => str -> str)
}
@bioUnions = @{
  List("Bio-Austria", "Erde&Saat").map(str => str -> str)
}
@grainTypes = @{
  List("Weizen", "Roggen", "Dinkel")
}

@main(title = siteTitle) {
  <div id="formHeader">
    <h1>Erntemeldung</h1>
    <h4>für die Vermarktung und Vermittlung von Biogetreide der Ernte @harvestYear</h4>
  </div>

  <div id="personalAndCompanyDataOfFarmer">
    <h2>Ihre Kontaktdaten</h2>

    <a id="fillInPersonDataButton" class="btn btn-lg btn-info"> <i class="fa fa-pencil"></i> <span>
      Stammdaten einfügen</span> </a>
    <p>

    @b3.inline.form(action = routes.HarvestGuessFormController.handleHarvestGuess()) { implicit inlineFieldConstructor =>
      <div id="personDataForm">
        @b3.inputWrapped("text", harvestGuessForm("contactData.name"), '_hiddenLabel -> "Name", 'placeholder -> "Name") { input =>
          <div class="input-group">
            <label class="control-label">Name</label>
            @input
          </div>
        }
        @b3.inputWrapped("text", harvestGuessForm("contactData.postalAddress"), '_hiddenLabel -> "Adresse", 'placeholder -> "Adresse") { input =>
          <div class="input-group">
            <label class="control-label"><i class="fa fa-map-marker"></i> Adresse</label>
            @input
          </div>
        }
        @b3.inputWrapped("text", harvestGuessForm("contactData.phoneNumber"), '_hiddenLabel -> "Telefonnummer", 'placeholder -> "Telefonnummer") { input =>
          <div class="input-group">
            <label class="control-label"><i class="fa fa-phone"></i> Telefonnummer</label>
            @input
          </div>
        }
        @b3.inputWrapped("email", harvestGuessForm("contactData.emailAddress"), '_hiddenLabel -> "Email-Adresse", 'placeholder -> "Email-Adresse") { input =>
          <div class="input-group">
            <label class="control-label"><i class="fa fa-at"></i> Email-Adresse</label>
            @input
          </div>
        }
      </div>
      <hr>
      <script>
        $(document).ready(function(){
          $("#fillInPersonDataButton").click(function(){
            console.log("Button clicked for filling in person data");

            var nameField = $("[name='contactData.name']");
            var addressField = $("[name='contactData.postalAddress']");
            var phoneField = $("[name='contactData.phoneNumber']");
            var emailField = $("[name='contactData.emailAddress']");
            nameField.val("Matthias Braun");
            addressField.val("Figulystraße 35");
            phoneField.val("0676 309 22 53");
            emailField.val("office@@bullbytes.com");

            var companyNumberField = $("[name='companyNumber']");
            var vatField = $("[name='vatRegistrationNr']");
            companyNumberField.val("12345678");
            vatField.val("123456789");

            var bankDataField = $("[name='bankData']");
            var ibanField = $("[name='iban']");
            bankDataField.val("Raiffeisen Landesbank");
            ibanField.val("123456789")
          });
        });
      </script>

      <div id="formAboutFarmerCompany">
        <h3>Ihr Betrieb</h3>

        @b3.inputWrapped("text", harvestGuessForm("companyNumber"), '_hiddenLabel -> "Betriebsnummer", 'placeholder -> "Betriebsnummer") { input =>
          <div class="input-group">
            <label class="control-label">Betriebsnummer</label>
            @input
          </div>
        }
        @b3.inputWrapped("text", harvestGuessForm("vatRegistrationNr"), '_hiddenLabel -> "UID-Nummer", 'placeholder -> "UID-Nummer") { input =>
          <div class="input-group">
            <label class="control-label">UID-Nummer</label>
            @input
          </div>
        }
        @b3.inputWrapped("select", harvestGuessForm("taxRate"), '_hiddenLabel -> "Steuersatz") { input =>
          <div class="input-group">
            <label class="control-label">Steuersatz</label>
            <br>
              @b3.select(harvestGuessForm("taxRate"), options = taxRates)
          </div>
        }
        @b3.inputWrapped("select", harvestGuessForm("inspectionBody"), '_hiddenLabel -> "Kontrollstelle") { input =>
          <div class="input-group">
            <label class="control-label">Kontrollstelle</label>
            <br>
              @b3.select(harvestGuessForm("inspectionBody"), options = inspectionBodies)
          </div>
        }
        <p>
          @b3.radio(harvestGuessForm("bioUnionOrCodex"), options = Seq("Ja" -> "Ja", "Nein" -> "Nein, ich bin ein Codex-Betrieb"), '_label -> "Sind Sie Mitglied bei einem Bio-Verband?")
        </p>

        <div id="bioUnionSelection" class="hidden">
        @b3.inputWrapped("select", harvestGuessForm("bioUnion"), '_hiddenLabel -> "Welcher Bioverband") { input =>
          <div class="input-group">
            <label class="control-label">Welcher Bioverband</label>
            <br>
              @b3.select(harvestGuessForm("bioUnion"), options = bioUnions)
          </div>
        }
        </div>
        <script>
          $(document).ready(function(){
            $('input[type=radio][name=bioUnionOrCodex]').on('change', function() {
              var elementToShowAndHide =$("#bioUnionSelection");
              switch($(this).val()) {
                case 'Ja':
                  elementToShowAndHide.removeClass('hidden');
                  break;
                case 'Nein':
                  elementToShowAndHide.addClass('hidden');
                  break;
              }
            });
          });
        </script>


      </div>
      <hr>
      <div id="farmersBankData">
        <h3>Ihre Bank</h3>
        @b3.inputWrapped("text", harvestGuessForm("bankData"), '_hiddenLabel -> "Bankverbindung", 'placeholder -> "Bankverbindung") { input =>
          <div class="input-group">
            <label class="control-label">Bankverbindung</label>
            @input
          </div>
        }
        @b3.inputWrapped("text", harvestGuessForm("iban"), '_hiddenLabel -> "IBAN", 'placeholder -> "IBAN") { input =>
          <div class="input-group">
            <label class="control-label">IBAN</label>
            @input
          </div>
        }
      </div>

    </div>

  <h2>Ihre voraussichtliche Ernte</h2>
  <h3>Speisegetreide</h3>
  <table class="table table-striped" >
    <thead>
      <tr>
        <th>Getreideart</th>
        <th>Hektar</th>
        <th>Tonnen (cirka)</th>
        <th>Status</th>
        <th>Übernahmestelle/ Ab Feld</th>
        <th>Anmerkungen</th>
      </tr>
    </thead>
    <tbody id="grainForHumansTable">
    @grainRow(harvestGuessForm, grainTypes, "grainRowForHumansId")
    </tbody>
  </table>

  <a id="addGrainForHumansButton" class="btn btn-lg btn-primary"> <i class="fa fa-plus "></i> <span>
    Speisegetreide hinzufügen</span> </a>

  <script>
    $(document).ready(function(){
      $('#addGrainForHumansButton').click(function(){
        var $clonedRow = $('#grainRowForHumansId').clone();
        $('#grainForHumansTable').append("<tr id='otherRowId'>" +$clonedRow.html()+"</tr>")
      });
    });
  </script>

  <hr>
  <h3>Futtergetreide</h3>

  <table class="table table-striped" >
    <thead>
      <tr>
        <th>Getreideart</th>
        <th>Hektar</th>
        <th>Tonnen (cirka)</th>
        <th>Status</th>
        <th>Übernahmestelle/ Ab Feld</th>
        <th>Anmerkungen</th>
      </tr>
    </thead>
    <tbody id="grainForAnimalsTable">
    @grainRow(harvestGuessForm, grainTypes, "grainRowForAnimalsId")
    </tbody>
  </table>

  <a id="addGrainForAnimalsButton" class="btn btn-lg btn-primary"> <i class="fa fa-plus "></i> <span>
    Futtergetreide hinzufügen</span> </a>

  <script>
    $(document).ready(function(){
      $("#addGrainForAnimalsButton").click(function(){
        var $clonedRow = $("#grainRowForAnimalsId").clone();
        $("#grainForAnimalsTable").append("<tr>" + $clonedRow.html() + "</tr>")
      });
    });
  </script>
  <hr>

  @b3.submit('class -> "btn btn-success") {
    <span class="fa fa-4x fa-send"></span> <span id="submitHarvestGuessButtonText"> Formular abschicken</span>
  }
}
  <div id="finePrint">
    <p>
      Ich beabsichtige die oben angeführten Produkte der Ernte @harvestYear über die EZG Bio-Getreide OÖ zu vermarkten. Für die Einlagerung in unsere Gemeinschaftslager ist die
      Mitgliedschaft bei der EZG Bio-Getreide OÖ und eine anerkannte Verbandsmitgliedschaft (Bio-Austria, Erde&Saat, usw.) Voraussetzung. Weiters erkläre ich mich damit
      einverstanden, dass über meine Umsätze an den Verein mittels Gutschrift abgerechnet wird.
    </p>
  </div>
}
