@greyForSeparators: #CCC;
@veryDarkGreySlightlyGreen: #001c00;
body {
  // Center the content
  margin: 0 auto;
  text-align: center;
}
#formHeader{
  background: url("../images/ezg_hintergrund_hell.jpg") ;
  padding: 10px;
  color: @veryDarkGreySlightlyGreen;
}
#personalAndCompanyDataOfFarmer{
  border-bottom: 2px solid @greyForSeparators;
  padding: 10px;
  color: @veryDarkGreySlightlyGreen;
}
#submitHarvestGuessButtonText{
  // This actually puts the text in the vertical center
  vertical-align: text-bottom;
  font-size: 32px;
}
#finePrint {
  margin-top: 30px;
  border-top: 2px solid @greyForSeparators;
}
