@* A RequestHeader gets converted to Flash *@
@(siteTitle: String, markdownForm: Form[String], userMaybe: Option[CvsUser])(implicit flash: Flash, messages: Messages)

    @import b3.vertical.fieldConstructor

    @main(siteTitle, userMaybe) {

        @if(userMaybe.isDefined) {

            <h1>Welcome, @userMaybe.get.name</h1>
        }
        <h2>Enter Markdown here</h2>

            @b3.form(routes.Application.testMd()) {
            @b3.textarea(markdownForm("markdownText"), '_label -> "Markdown area", '_title -> "Enter Markdownhere")
            @b3.submit('class -> "btn btn-default") { To HTML }
        }

        <div id="contactMeSection">
            <p>
                <a id="contactMeButton" class="btn btn-lg btn-primary"
                href="mailto:office@@bullbytes.com" >
                    <span id="contactMeButtonText">Schreiben Sie uns über diesen Knopf</span>
                    <i class="fa fa-paper-plane fa-3x pull-center"></i>
                </a>
            </p>
        </div>

        @flash.get("success").map { msg =>
            <div id="success-alert" class="col-md-6 col-md-offset-3 alert alert-success">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>@msg</strong>
            </div>
            <script>
                    $("#success-alert").fadeTo(6000, 500).slideUp(500, function(){ $("#success-alert").alert('close'); });
            </script>
        }
    }

