@(title: String, userMaybe: Option[models.CvsUser] = None)(content: Html)(implicit messages: Messages)
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    @* For mobile devices *@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@title</title>

    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">

    @* We specify these client-side libraries as dependencies in build.sbt *@
    <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))">
    <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
    @* To use, for example, the dropdown menus in the navbar, we need to load this library after loading jQuery *@
    <script type="text/javascript" src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))"></script>

    @* Override the default look of the bootstrap navbar (has to be applied after bootstrap.css to work) *@
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/navbar.css")">
  </head>

  <body>
    @tags.navbar(userMaybe)

    <div id="mainContainer">
    @content
    </div>

  </body>

</html>
