@(signInForm: Form[forms.SignInForm.Data])(implicit request: RequestHeader, messages: Messages)

@import b3.inline.fieldConstructor

@helper.form(action = routes.CredentialsAuthController.authenticate()) {
  @helper.CSRF.formField
  @b3.email(signInForm("email"), '_hiddenLabel -> Messages("email"), 'placeholder -> Messages("email"), 'class -> "form-control input-lg")
  @b3.password(signInForm("password"), '_hiddenLabel -> Messages("password"), 'placeholder -> Messages("password"), 'class -> "form-control input-lg")
  <div class="form-group">
    <div>
      <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@Messages("sign.in")</button>
    </div>
  </div>
}
